/*---------------------------------------------------------*/
/* BASIC SETUP */
/*---------------------------------------------------------*/
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

html {
    background-color: #FDFCFE; 
    color: #000; 
    font-family: 'Lato', sans-serif;
    font-weight: 300; 
    font-size: 20px; 
    text-rendering: optimizeLegibility;
    overflow-x: hidden; 
    width: 100%; 
    scroll-behavior: smooth; 
}

.row {
    max-width: 100%; 
    margin: 0 auto; 
}

/*---------------------------------------------------------*/
/* NAV BAR */
/*---------------------------------------------------------*/
.main-nav {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    /* font-family: 'Archivo Narrow', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-size: 70%;
}

.main-nav li {
    display: inline-block; 
    padding: 1%;
    text-decoration: none; 
    margin-right: 1.8%;
    margin-left: 1.8%;
    margin-top: 3%
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #000; 
    text-transform: uppercase; 
    font-size: 120%;
    border-bottom: 3px solid transparent; 
    transition: border-bottom 0.2s; 
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #7C6394; 
}

/*---------------------------------------------------------*/
/* HOME */
/*---------------------------------------------------------*/
.header-home {
    background: #FDFCFE;
}

.header-about {
    background: #FDFCFE;
}

.home {
    font-family: 'Lato', sans-serif; 
    font-size: 220%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding-bottom: 3%;
    padding-top: 5%;
    transform: scaleX(1.1);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #cec6dc;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;    
}

.home-icons {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

#home-icons {
    font-size: 250%;
    color: black;
    margin-left: 30px;  
    margin-right: 30px; 
    font-weight: 100;
}

/*---------------------------------------------------------*/
/* GENERAL */
/*---------------------------------------------------------*/
/* footer part */
.section-footer {
    background: #cec6dc;
    height: 20vh; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
        
    
    
    /*background-size: cover; 
    background-position: bottom; 
    width: 100%; 
    background-attachment: fixed; 
    overflow: hidden; */
}

#icons {
    font-size: 250%;
    color: black;
    margin-left: 30px;  
    margin-right: 30px; 
}



ion-icon:hover {
    color: #7C6394; 
    /* color: #FDFCFE; */
    transition: .3s;
}

.a:click {
    transition: .3s;
}

/*---------------------------------------------------------*/
/* PROJECTS */
/*---------------------------------------------------------*/
.projects {
    background: #cec6dc; 
    height: 12vh; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-transform: uppercase; 
    font-size: 75%;
    font-family: 'Raleway', sans-serif;   
}

.portfolio-list {
    width: 60%; 
    height: auto; 
    margin: 0 auto; 
    text-align: left;  
}

.portfolio-piece {
    margin-bottom: 25px;
    margin-top: 30px;
    height: 200px;
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    transition: all 0.3s ease;
    background: #FDFCFE; 
}

.portfolio-piece:hover {
    margin-top: -1px;
    margin-bottom: 8px;
    box-shadow: #cec6dc 0 8px 8px 0; 
}

.portfolio-piece a {
    font-family: 'Merriweather', serif;
    font-size:  105%;
    text-decoration: none; 
    color: black;
    transition: all 0.2s ease;
}

.portfolio-piece a:hover {
    color: #7C6394;
}

.portfolio-info {
    font-size: 84%;
    margin-top: 1.5%;
    font-family: 'Raleway', sans-serif;
}

.portfolio-description {
    font-size: 84%; 
    font-family: 'Raleway', sans-serif;
    margin-top: 1.5%;
}

/*---------------------------------------------------------*/
/* ABOUT */
/*---------------------------------------------------------*/
.about {
    background: #cec6dc; 
    height: 12vh; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-transform: uppercase; 
    font-size: 75%;
    font-family: 'Raleway', sans-serif;   
}
    


.about-me {
    margin-left: 15%; 
    margin-right: 15%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-top: 3%; 
    margin-bottom: 5%; 
}

.about-photo {
    height: 450px;
    width: auto;
    margin-right: 5%; 
}

.about-text {
    font-family: 'Raleway', sans-serif;   
}

.about-text .title { 
    color: #7C6394; 
}

.certification-links:link, 
.certification-links:visited {
    text-decoration: none; 
    border-bottom: 2px solid transparent; 
    transition: border-bottom 0.2s; 
    color: black; 
}    

.certification-links:hover, 
.certification-links:active {
    border-bottom: 2px solid #7C6394; 
}

/*---------------------------------------------------------*/
/* MISCELLANEOUS */
/*---------------------------------------------------------*/
body {

-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
     -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}






